/*===== General =====*/
:root {
  --secondary: #ff4500;
}
html {
	overflow-x: hidden;
	overflow-y: hidden;
}
body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  position: relative;
}
h3 {
  color: #111;
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 2px;
}
h6 {
  color: #111;
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 2px;
}
.white-section {
	background-color: white;
}
.dark-section {
	background-color: #222;
}
.section-intro {
	font-family: 'Poppins', sans-serif;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-bottom: 2.6rem;
	position: relative;
}
.section-intro h1 {
	font-weight: 700;
	font-size: 2.4rem;
	color: #d6d6d6;
	line-height: 1.25;
}
.section-intro h5 {
	color: var(--secondary);
	font-size: 1.2rem;
	line-height: 1.875;
	margin-bottom: 0.3rem;
	font-weight: 700;
	letter-spacing: 4px;
	text-transform: uppercase;
}
.white-section .section-intro h1 {
	color: #313131;
}
@media screen and (max-width: 576px) {
	.section-intro h1 {
		font-size: 1.6rem;
	}
}

::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: #333; 
}
::-webkit-scrollbar-thumb {
  background: var(--secondary);
}
::-webkit-scrollbar-thumb:hover {
  background: #e92f00; 
}

/*===== Loader =====*/
.loader {
	display: flex;
	justify-content: center;
}
.loader #loader {
	position: absolute;
	right: 0%;
	width: 100vw;
	height: 100vh;
	background-color: #111;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100005;
	transition: 1s ease;
}
.loader #loader-extra-1 {
	position: absolute;
	right: 0%;
	width: 100vw;
	height: 100vh;
	background-color: #181818;
	z-index: 100004;
	transition: 1s ease;
	transition-delay: 0.25s;
}
.loader #loader-extra-2 {
	position: absolute;
	right: 0%;
	width: 100vw;
	height: 100vh;
	background-color: #222;
	z-index: 100003;
	transition: 1s ease;
	transition-delay: 0.5s;
}
.loader .spinner-box {
	position: relative;
	z-index: 100006;
}
.loader .spinner-1 {
	width: 70px;
	height: 70px;
	padding: 3px;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #bd2601;
	animation: spinner-clockwise 3s ease-in-out 0s infinite alternate;
}
.loader .spinner-2 {
	width: 70px;
	height: 70px;
	padding: 3px;
	left: -115px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--secondary);
	transform: rotate(45deg);
	animation: spinner-xclockwise 3s ease-in-out 0s infinite alternate;
}
.loader .spinner-core {
	width: 100%;
	height: 100%;
	background-color: #111;
}
  
@keyframes spinner-clockwise {
	0% {
	  transform: rotate(0);
	}
	25% {
	  transform: rotate(90deg);
	}
	50% {
	  transform: rotate(180deg);
	}
	75% {
	  transform: rotate(270deg);
	}
	100% {
	  transform: rotate(360deg);
	}
}
  
@keyframes spinner-xclockwise {
	0% {
	  transform: rotate(45deg);
	}
	25% {
	  transform: rotate(-45deg);
	}
	50% {
	  transform: rotate(-135deg);
	}
	75% {
	  transform: rotate(-225deg);
	}
	100% {
	  transform: rotate(-315deg);
	}
}

/*===== Navbar =====*/
.nav-box {
	height: 100%;
}
.nav-wrapper {
	width: 100%;
	height: 100%;
	position: relative;
}
.nav-box {
	width: 100%;
  top: 0;
  right: 0;
}

.hamburger {
	width: 45px;
  height: 45px;
	background-color: #222;
	mix-blend-mode: difference;
  cursor: pointer;
	position: fixed;
	z-index: 100001;
  top: 20px;
  right: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.hamburger-icon {
	position: absolute;
  width: 28px;
  height: 24px;
}
.bar {
  position: absolute;
  height: 4px;
  width: 100%;
  background: #fff;
  transition: all .3s;
}
.bar.top-bar {
	top: 0;
}
.bar.middle-bar {
  top: 50%;
  margin-top: -2px;
}
.bar.bottom-bar {
  bottom: 0;
}

.hamburger.active .hamburger-icon {
  z-index: 2;
  animation: 0.25s rotateHamburger linear 0s forwards;
}
.hamburger.active .hamburger-icon .bar {
  background: #fff;
}
.hamburger.active .hamburger-icon .bar.top-bar {
  transform: translateY(10px) rotate(45deg);
}
.hamburger.active .hamburger-icon .bar.middle-bar {
  opacity: 0;
}
.hamburger.active .hamburger-icon .bar.bottom-bar {
  transform: translateY(-10px) rotate(-45deg);
}

.menu-wrapper {
	position: fixed;
	z-index: 100000;
	height: 100%;
	width: 100%;
  background: rgba(0, 0, 0, .85);
  transition: all .3s;
  transform: scale(0);
}
.menu-wrapper.visible {
  transform: scale(1);
}

.menu-wrapper .socials {
	position: absolute;
	z-index: 1002;
	top: 50%;
	transform: translateY(-50%);
}
.menu-wrapper .socials a {
	text-decoration: none;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
	opacity: 0;
}
.menu-wrapper .socials .social-icon {
	width: 45px;
	height: 45px;
	background-color: var(--secondary);
	color: #fff;
	font-size: 24px;
	margin: 5px 0;
	position: relative;
	z-index: 1001;
	display: flex;
	align-items: center;
	justify-content: center;
}
.menu-wrapper .socials .social-text {
	background-color: #fff;
	color: #111;
	font-size: 15px;
	height: 45px;
	position: absolute;
	left: -50vh;
	z-index: 1000;
	display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
  transition: all .3s;
}
.menu-wrapper .socials a:hover .social-text {
	left: 45px;
}
@media screen and (max-width: 800px) {
	.menu-wrapper .socials a:hover .social-text {
		display: none;
	}
}

.menu-wrapper.visible .socials a:nth-child(1) {
	animation: moveItems 0.3s linear 0.1s forwards;
  }
  .menu-wrapper.visible .socials a:nth-child(2) {
	animation: moveItems 0.3s linear 0.175s forwards;
  }
  .menu-wrapper.visible .socials a:nth-child(3) {
	animation: moveItems 0.3s linear 0.25s forwards;
  }
  .menu-wrapper.visible .socials a:nth-child(4) {
	animation: moveItems 0.3s linear 0.325s forwards;
  }
  .menu-wrapper.visible .socials a:nth-child(5) {
	animation: moveItems 0.3s linear 0.4s forwards;
  }
  .menu-wrapper.visible .socials a:nth-child(6) {
	animation: moveItems 0.3s linear 0.475s forwards;
  }
  

.menu-wrapper .menu {
	position: absolute;
	max-width: 400px;
	width: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
  }
  .menu-wrapper ul {
	  padding-left: 0;
  }
.menu-wrapper ul li {
  list-style: none;
	padding: 0;
}
.menu-wrapper ul li.active a {
	color: var(--secondary);
}
.menu-wrapper span, a {
  display: inline-block;
}
.menu-wrapper ul li a {
  text-decoration: none;
  color: #fff;
  transition: all .3s;
}
.menu-wrapper ul li a:hover {
  color: var(--secondary);
}
.menu-wrapper ul li a {
  font-size: 22px;
  font-weight: bold;
  padding: 10px 0;
}
.menu-wrapper li {
  opacity: 0;
  transition: all .3s;
}

.menu.menu-active li:nth-child(1) {
  animation: moveItems 0.3s linear 0.1s forwards;
}
.menu.menu-active li:nth-child(2) {
  animation: moveItems 0.3s linear 0.175s forwards;
}
.menu.menu-active li:nth-child(3) {
  animation: moveItems 0.3s linear 0.25s forwards;
}
.menu.menu-active li:nth-child(4) {
  animation: moveItems 0.3s linear 0.325s forwards;
}
.menu.menu-active li:nth-child(5) {
  animation: moveItems 0.3s linear 0.4s forwards;
}
.menu.menu-active li:nth-child(6) {
	animation: moveItems 0.3s linear 0.475s forwards;
  }

.menu-item-has-children {
  position: relative;
}

.menu-item-has-children::after {
  content: '';
  position: absolute;
  width: 12px;
  height: 12px;
  background: transparent;
  border: 1px solid transparent;
  border-right-color: #fff;
  border-bottom-color: #fff;
  top: 22px;
  right: 110px;
  transform: rotate(45deg);
  transition: all .3s;
}

.menu-item-has-children.sub-menu-active::after {
  transform: rotate(224deg);
}

.menu-item-has-children > .menu {
  display: none;
  position: static;
  transform: initial;
}

/* Animations */
@keyframes rotateHamburger {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(180deg);
  }
}

@keyframes moveItems {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*===== Hero =====*/

#particles-js {
  height: 100vh;
  background-image: url(../images/hero-bg.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner-text {
  position: absolute;
  z-index: 1;
  width: 60%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: 'Poppins';
  text-align: center;
}
.banner-text h1 {
  font-size: 75px;
}
.banner-text h1 span {
	color: var(--secondary);
}
.banner-text p {
  color: #fff;
  height: 60px;
	line-height: 36px;
  font-size: 26px;
  font-family: "Poppins", sans-serif;
}
.banner-text p span {
  color: #fff;
  padding-bottom: 4px;
  letter-spacing: 1px;
  border-bottom: 3px solid var(--secondary);
}
.banner-text .social {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.banner-text .social a {
  color: white;
  font-size: 30px;
  margin: 0 30px 0 0;
  transition: 0.3s ease;
}
.banner-text .social a:hover {
  color: var(--secondary);
}

@media only screen and (max-width: 750px) {
	.banner-text h1 {
		font-size: 48px;
	}
	.banner-text p {
		font-size: 22px;
	}
}
@media only screen and (max-width: 490px) {
	.banner-text h1 {
		font-size: 32px;
	}
	.banner-text p {
		font-size: 16px;
	}
	.banner-text .social a {
		color: white;
		font-size: 25px;
		margin: 0 30px 0 0;
		transition: 0.5s ease;
	}
}

/*===== About =====*/
.about {
	padding-top: 60px;
	margin-bottom: -60px;
	font-family: 'Open Sans', sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
  color: #666;
}

.about .intro-info {
	max-width: 900px;
	padding-top: 1rem;
	padding-right: 30px;
	padding-left: 30px;
	padding-bottom: 2.2rem;
	position: relative;
}
.about .intro-info .intro-info-wrapper {
	max-width: 760px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.about .intro-info .intro-info-wrapper img {
	height: 9rem;
	width: 9rem;
	border-radius: 50%;
	position: relative;
	z-index: 10;
}
.about .intro-info .intro-info-wrapper .lead {
  font-size: 17px;
	font-weight: 400;
  line-height: 35px;
	text-align: left;
	padding-left: 2rem;
	color: #444;
	margin-bottom: 0;
}
.about .intro-info .profile-socials {
	position: absolute;
	left: 0;
	height: 100%;
	z-index: 1;
}
.about .intro-info .profile-socials a img {
	width: 100%;
	height: 100%;
}
.about .intro-info .profile-socials a {
	position: absolute;
	width: 24px;
	height: 24px;
}
.about .intro-info .profile-socials a:nth-child(1) {
	top: 10px;
	left: 82px;
	transition: 0.25s ease 0s;
}
.about .intro-info .profile-socials a:nth-child(2) {
	top: 41px;
	left: 41px;
	transition: 0.25s ease 0.1s;
}
.about .intro-info .profile-socials a:nth-child(3) {
	top: 67px;
	left: 35px;
	transition: 0.25s ease 0.15s;
}
.about .intro-info .profile-socials a:nth-child(4) {
	top: 20px;
	left: 56px;
	transition: 0.25s ease 0.05s;
}
.about .intro-info:hover .profile-socials a:nth-child(1) {
	top: -30px;
	left: 62px;
}
.about .intro-info:hover .profile-socials a:nth-child(2) {
	top: 30px;
	left: -1px;
}
.about .intro-info:hover .profile-socials a:nth-child(3) {
	top: 71px;
	left: -5px;
}
.about .intro-info:hover .profile-socials a:nth-child(4) {
	top: -8px;
	left: 20px;
}


.about .about-content {
	max-width: 750px;
	width: 100%;
}
.about .about-content p {
	line-height: 22px;
	margin-bottom: 20px;
}
.about .about-content p a {
	text-decoration: none;
	color: inherit;
}
.about .about-content .coding-profiles {
	display: flex;
	align-items: center;
	margin-top: 12px;
}
.about .about-content .coding-profiles a {
	margin-right: 20px;
}
.about .about-content .coding-profiles a img {
	width: 36px;
}

.about .skill-bars {
	list-style: none;
	margin: 3.5rem 0 1rem 0;
  padding: 0;
}
.about .skill-bars li {
	height: .6rem;
	background: #a1a1a1;
	width: 100%;
	margin-bottom: 4rem;
	padding: 0;
	position: relative;
}
.about .skill-bars li strong {
	position: absolute;
	left: 0;
	top: -1.6rem;
	color: #111;
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 2px;
}
.about .skill-bars li .progress {
	background: var(--secondary);
	position: relative;
	height: 100%;
}
.about .skill-bars li span {
	position: absolute;
	right: 0%;
	top: 1.2rem;
	display: block;
	font-family: "Poppins", sans-serif;
	color: white;
	font-size: 0.7rem;
	line-height: 1;
	background: #313131;
	padding: .4rem .4rem;
	border-radius: 3px;
  z-index: 1;
}
.about .skill-bars li span::after {
	position: absolute;
	left: 50%;
	top: -5px;
	margin-left: -5px;
	border-left: 5px solid transparent;
  border-right: 5px solid transparent;
	border-bottom: 5px solid #313131;
	content: "";
}

.skill-bars li .progress {
	width: 0;
}
.skill-bars li .counter {
	width: 0;
	margin-left: 17px;
	display: flex;
	justify-content: right;
}
.skill-bars li .counter .counting {
	position: relative;
	top: 7px;
	font-family: "Poppins", sans-serif;
	color: white;
	font-size: 0.7rem;
	line-height: 1;
	background: #313131;
	padding: .4rem .4rem;
	border-radius: 3px;
}
.skill-bars li .counter .counting::after {
	position: absolute;
	left: 50%;
	top: -5px;
	margin-left: -5px;
	border-left: 5px solid transparent;
  border-right: 5px solid transparent;
	border-bottom: 5px solid #313131;
	content: "";
}
.skill-bars.active li:nth-child(1) .progress, .skill-bars.active li:nth-child(1) .counter {
	animation: load95 3s normal forwards;
}
.skill-bars.active li:nth-child(2) .progress, .skill-bars.active li:nth-child(2) .counter {
	animation: load90 3s normal forwards;
}
.skill-bars.active li:nth-child(3) .progress, .skill-bars.active li:nth-child(3) .counter {
	animation: load90 3s normal forwards;
}
.skill-bars.active li:nth-child(4) .progress, .skill-bars.active li:nth-child(4) .counter {
	animation: load80 3s normal forwards;
}
.skill-bars.active li:nth-child(5) .progress, .skill-bars.active li:nth-child(5) .counter {
	animation: load75 3s normal forwards;
}
.skill-bars.active li:nth-child(6) .progress, .skill-bars.active li:nth-child(6) .counter {
	animation: load85 3s normal forwards;
}

@keyframes load70 {
  0% { width: 0; }
  100% { width: 70%; }
}
@keyframes load75 {
  0% { width: 0; }
  100% { width: 75%; }
}
@keyframes load80 {
  0% { width: 0; }
  100% { width: 80%; }
}
@keyframes load85 {
  0% { width: 0; }
  100% { width: 85%; }
}
@keyframes load90 {
  0% { width: 0; }
  100% { width: 90%; }
}
@keyframes load95 {
  0% { width: 0; }
  100% { width: 95%; }
}
@keyframes load100 {
  0% { width: 0; }
  100% { width: 100%; }
}

.about .about-button-section a {
	width: auto;
	margin: 20px 20px 0 20px;
	padding: 0;
}
.about .about-button-section .blob-btn {
	z-index: 1;
	position: relative;
	background-color: transparent;
	margin: 0;
	text-align: center;
	outline: none;
	border: none;
	width: 260px;
  height: 55px;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
	font-size: 14px;
  letter-spacing: 4px;
  font-weight: 900;
  text-transform: uppercase;
	color: #333;
	text-decoration: none;
	transition: 0.4s;
}
.about .about-button-section a:nth-child(2) .blob-btn {
	background-color: #333;
	color: #fff;
}
.about .about-button-section .blob-btn:before {
	content: "";
	z-index: 1;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border: 3px solid #333;
	transition: 0.4s;
}
.about .about-button-section .blob-btn:hover:before {
	border-color: var(--secondary);
}
.about .about-button-section a:nth-child(1) .blob-btn:hover {
	color: #fff;
}
.about .about-button-section a:nth-child(2) .blob-btn:hover {
	color: var(--secondary);
}

.blob-btn__inner {
	z-index: -1;
	overflow: hidden;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.blob-btn__blobs {
	position: relative;
	display: block;
	height: 100%;
	filter: url('#goo');
}
.blob-btn__blob {
	position: absolute;
	top: 6px;
	width: 25%;
	height: 100%;
	background: var(--secondary);
	border-radius: 100%;
	transform: translate3d(0, 150%, 0) scale(1.7);
	transition: transform 0.35s;
}
.about .about-button-section a:nth-child(2) .blob-btn__blob {
	background-color: #fff;
}
.blob-btn__blob:nth-child(1) {
	left: 0%;
	transition-delay: 0s;
}
.blob-btn__blob:nth-child(2) {
	left: 30%;
	transition-delay: 0.08s;
}
.blob-btn__blob:nth-child(3) {
	left: 60%;
	transition-delay: 0.16s;
}
.blob-btn__blob:nth-child(4) {
	left: 90%;
	transition-delay: 0.24s;
}
.blob-btn:hover .blob-btn__blob {
	transform: translateZ(0) scale(1.7);
}


@media only screen and (max-width: 992px) {
	.about .intro-info {
		max-width: 700px;
	}
	.about .intro-info .intro-info-wrapper {
		max-width: 650px;
	}
	.about .about-content .skills {
		margin-top: 3rem;
	}
}
@media only screen and (max-width: 768px) {
	.about .intro-info .profile-socials {
		display: none;
	}
	.about .intro-info-wrapper {
		flex-direction: column;
		margin-top: 40px;
	}
	.about .intro-info .intro-info-wrapper img {
		height: 7.8rem;
		width: 7.8rem;
	}
	.about .intro-info .intro-info-wrapper .lead {
		margin-top: 20px;
		padding-left: 0;
		text-align: center;
	}
	.about .about-content .coding-profiles {
		justify-content: center;
	}
	.about .about-content .coding-profiles a {
		margin: 0 10px;
	}
	.about .about-content .info-list, .about-content .skill-bars {
		margin-bottom: 4.2rem;
		padding: 0 25px;
	}

	.about .button-section .button {
		width: 100%;
		margin-bottom: 3rem;
	}
	.about .button-section [class*="col-"] .button:first-child {
		margin-right: 0;
	}
	.about .section-intro, .about-content {
		width: 80%;
		text-align: center;
	}

	.about .about-button-section .col-12 {
		display: flex;
		flex-direction: column;
	}
	.about .about-button-section button {
		width: 240px;
	}

	.about .intro-info .profile-socials a {
		width: 20px;
		height: 20px;
	}
	.about .intro-info .profile-socials a:nth-child(1) {
		top: 45px;
		left: 337px;
	}
	.about .intro-info .profile-socials a:nth-child(2) {
		top: 76px;
		left: 296px;
	}
	.about .intro-info .profile-socials a:nth-child(3) {
		top: 102px;
		left: 290px;
	}
	.about .intro-info .profile-socials a:nth-child(4) {
		top: 55px;
		left: 311px;
	}
	.about .intro-info:hover .profile-socials a:nth-child(1) {
		top: 5px;
		left: 317px;
	}
	.about .intro-info:hover .profile-socials a:nth-child(2) {
		top: 65px;
		left: 254px;
	}
	.about .intro-info:hover .profile-socials a:nth-child(3) {
		top: 106px;
		left: 250px;
	}
	.about .intro-info:hover .profile-socials a:nth-child(4) {
		top: 27px;
		left: 275px;
	}

	.about .about-button-section {
		align-items: center;
		justify-content: center;
	}
}

/*===== Resume =====*/
.timeline {
	padding-bottom: 60px;
}
.timeline .timeline-container {
    position: relative;
}
.timeline .timeline-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 23px;
    height: calc(100% - 42%);
    width: 4px;
    background: #eeeeee;
}
@media (min-width: 992px) {
    .timeline .timeline-container::before {
        left: 50%;
        transform: translateX(-50%);
		height: calc(100% - 38%);
    }
}

.timeline .tile {
    display: flex;
    position: relative;
    z-index: 1;
}
@media (min-width: 992px) {
    .timeline .tile:nth-child(even) {
        flex-direction: row-reverse
    }
}

.timeline .tile .img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
	min-width: 50px;
    border-radius: 50%;
    box-shadow: 0 0 0 4px #ffffff, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 6px rgba(0, 0, 0, 0.082);
	background-image: linear-gradient(to top, #222 50%, var(--secondary) 50%);
	background-size: 100% 200%;
	background-position: top;
	transition: 0.3s ease-in;
}
.timeline .tile .img:hover {
	background-position: bottom;
}
.timeline .tile .img img {
    height: 40px;
	width: 40px;
}

@media (min-width: 992px) {
    .timeline .tile .img {
        width: 60px;
        height: 60px;
        -ms-flex-order: 1;
        order: 1;
        margin-left: calc(5% - 30px);
        will-change: transform
    }
    .timeline .tile:nth-child(even) .img {
        margin-right: calc(5% - 30px)
    }
	.timeline .tile .img img {
		width: 40px;
		height: 30px;
	}
}

.timeline .content {
    position: relative;
    background: #f9f9f9;
	box-shadow: 0 3px 0px 0px #88888867;
    border-radius: 5px;
    padding: 15px 30px;
	margin: 0 0 30px 25px;
}
.timeline .content::before {
    content: '';
    position: absolute;
    top: 16px;
    right: 100%;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-right-color: #f9f9f9;
}
.timeline .content h2 {
    color: #333;
	font-weight: 600;
	font-size: 22px;
	margin-bottom: 3px;
	font-family: 'Open Sans', sans-serif;
}
.timeline .content a {
	text-decoration: none;
}
.timeline .content h5 {
    color: var(--secondary);
	font-weight: 400;
	font-size: 17px;
	margin-bottom: 8px;
}
.timeline .content ul {
	margin-left: -17px;
	list-style-type: square;
	text-align: justify;
	font-size: 14px;
}
.timeline .content ul li {
	margin: 5px 0;
	color: #444;
}

@media (min-width: 992px) {
    .timeline .content {
        width: 45%;
        flex-grow: 0;
        margin: 0;
        font-size: 0.8em;
    }
    .timeline .content::before {
        top: 24px
    }
    .timeline .tile:nth-child(odd) .content::before {
        right: auto;
        left: 100%;
        width: 0;
        height: 0;
        border: 7px solid transparent;
        border-left-color: #f9f9f9;
    }
}

.timeline .date span {
    color: #222222a4;
	font-weight: 500;
	font-size: 14px;
}
@media (min-width: 992px) {
    .timeline .date span {
        position: absolute;
        width: 100%;
        left: 120%;
        top: 20px
    }
    .timeline .tile:nth-child(even) .date span {
        left: auto;
        right: 120%;
        text-align: right
    }
}

@media screen and (max-width: 576px) {
	.timeline .content h2 {
		font-size: 18px;
	}
	.timeline .content h5 {
		font-size: 15px;
		margin-bottom: 12px;
	}
	.timeline .content ul li {
		font-size: 14px;
	}
	.timeline .date span {
		font-size: 13px;
	}
}

/*===== Projects =====*/
.projects {
	padding: 60px 0;
}
.projects .row {
	list-style: none;
	width: 100%;
	position: relative;
	margin: 20px auto;
	padding: 0;
}
.projects .row > * {
	padding: 0;
}
.projects .row li {
	float: left;
	position: relative;
	padding: 8px;
}
.projects .row li a,
.projects .row li a img {
	display: block;
	position: relative;
  width: 100%;
}
.projects .row li a {
	overflow: hidden;
}
.projects .row li a .thumb-hover {
	position: absolute;
	background: rgba(8, 8, 8, 0.8);
	font-size: 20px;
	width: 100%;
	height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
	flex-direction: column;
}
.projects .row li a .thumb-hover h6 {
	color: #ddd;
	margin-bottom: 10px;
}
.projects .row li a .thumb-hover h5 {
	color: #aaa;
	font-size: 14px;
	margin-bottom: 25px;
	text-align: center;
}
.projects .row li a .thumb-hover i {
	color: #ccc;
}

/*===== Skills =====*/
.skills-section {
	padding: 60px 0;
}
.skills-section .skills-container {
	text-align: center;
}
.skills-section .skills-container h2 {
	font-size: 20px;
	margin-bottom: 10px;
}
.skills-section .skills-container .col-lg-4 {
	padding: 0 25px;
}
.skills-section .skills-container .col-4 {
	padding: 10px 15px;
}
.skills-section .skills-container .icon {
	display: flex;
	align-items: center;
	justify-content: center;
}
.skills-section .skills-container .icon img {
	width: 64%;
}
.skills-section .skills-container .text {
	font-size: 14px;
	margin-top: 10px;
}
@media screen and (max-width: 1200px) {
	.skills-section .skills-container h2 {
		font-size: 18px;
	}
}
@media screen and (max-width: 992px) {
	.skills-section .skills-container .col-lg-4:nth-child(1) {
		margin-top: 0;
	}
	.skills-section .skills-container .col-lg-4 {
		margin-top: 50px;
	}
}

/*===== Contact =====*/
.contact {
	padding-top: 60px;
}
.contact .container .contact-form {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.contact .container .contact-form .contact-inputs {
	margin: 10px 0;
	padding: 15px 10px;
	max-width: 650px;
	width: 100%;
	resize: none;
	outline: none;
	border: none;
	background-color: transparent;
	color: white;
	border-bottom: 1px solid #444;
	transition: 0.8s ease;
}
.contact .container .contact-form .contact-inputs:focus {
	border-bottom: 1px solid var(--secondary);
}
.contact .container .contact-form .submit {
	max-width: 650px;
	width: 100%;
	margin-top: 30px;
	padding: 20px 0;
  border: 2px solid var(--secondary);
	text-transform: uppercase;
  font-weight: 600;
	letter-spacing: 2px;
  cursor: pointer;
  transition: all 0.7s ease;
  position: relative;
  display: inline-block;
	background: var(--secondary);
  color: #fff;
  border: none;
}
.contact .container .contact-form .submit:hover {
	background: transparent;
}
.contact .container .contact-form .submit:before,
.contact .container .contact-form .submit:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:1px;
  width:0;
  background: var(--secondary);
  transition: 0.7s ease all;
}
.contact .container .contact-form .submit:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
.contact .container .contact-form .submit:hover:before,
.contact .container .contact-form .submit:hover:after{
  width:100%;
  transition: 1s ease all;
}
.contact .container .contact-form .contact-inputs:-webkit-autofill,
.contact .container .contact-form .contact-inputs:-webkit-autofill:hover, 
.contact .container .contact-form .contact-inputs:-webkit-autofill:focus, 
.contact .container .contact-form .contact-inputs:-webkit-autofill:active{
  -webkit-box-shadow: 0 0 0 30px #222 inset !important;
}
.contact .container .contact-form .contact-inputs:-webkit-autofill{
	-webkit-text-fill-color: white !important;
}

.contact .alert-container {
	height: 100px;
}
.contact .alert-container .alert-success {
	color: #036903;
	background-color: #c8fcbe;
	border-color: #c8fcbe;
	position: relative;
	top: 20px;
	display: none;
}
.contact .alert-container .alert-warning {
	color: #b33508;
	background-color: #ffdacc;
	border-color: #ffdacc;
	position: relative;
	top: 20px;
	display: none;
}
.contact .alert-container .alert-danger {
	color: #b33508;
	background-color: #ffdacc;
	border-color: #ffdacc;
	position: relative;
	top: 20px;
	display: none;
}
@media screen and (max-width: 992px) {
	.contact .alert-container {
		height: 120px;
	}
}
@media screen and (max-width: 576px) {
	.contact .alert-container {
		height: 170px;
	}
}

.contact .container .row .contact-details {
	padding-left: 40px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	height: 300px;
}
.contact .container .row .contact-detail {
	font-size: 18px;
	color: var(--secondary);
	display: flex;
	margin-top: 20px;
}
.contact .container .row .contact-detail i {
	margin-right: 15px;
	margin-top: 5px;
	transition: 0.3s ease;
}
.contact .container .row .contact-detail a {
	color: #fff;
	text-decoration: none;
}
.contact .container .row .contact-detail span {
	color: #fff;
}
.contact .container .row .contact-detail:hover i {
	color: #fff;
}
.contact .container .row .social {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: left;
  text-align: center;
	margin-left: -20px;
	margin-top: 30px;
	margin-bottom: 0;
}
.contact .container .row .social a {
  color: var(--secondary);
  font-size: 27px;
  margin: 0 15px 0 15px;
  transition: 0.3s ease;
}
.contact .container .row .social a:hover {
  color: white
}
.contact .footer-bottom {
	border-top: 1px solid #444;
	width: 90%;
	margin: 0 auto;
	margin-top: 50px;
	height: 58px;
	text-align: center;
}
.contact .footer-bottom h6 {
	margin-top: 20px;
	font-weight: 400;
	letter-spacing: 0px;
	color: #bbb;
	text-transform: capitalize;
}

@media screen and (max-width: 768px) {
	.contact .container .row .contact-details {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: 50px;
		padding-left: 0;
	}
	.contact .container .row .contact-detail {
		font-size: 16px;
	}
	.contact .footer-bottom h6 {
		font-size: 13px;
	}
}

/*===== Back to top button =====*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  text-decoration: none;
  opacity: 0;
  right: 30px;
  bottom: 20px;
  z-index: 996;
  background: var(--secondary);
  width: 45px;
  height: 45px;
  transition: all 0.4s;
}
.back-to-top i {
  font-size: 20px;
  color: #fff;
  line-height: 0;
}
.back-to-top:hover {
  background: #e92f00;
}
.back-to-top:hover i {
  color: #fff;
}
.back-to-top.active {
  visibility: visible;
  opacity: 1;
}
